.main-cadastrar-responsavel-lote {
  width: 100vw;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-cadastrar-arquivo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.label-file-xslx {
  color: #746666;
  font-size: 20px;
  font-family: Codec Pro-Regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ajuda-arquivo {
  position: fixed;
  max-width: 60px;
  top: 15vh;
  right: 0.75vw;
}

.ajuda-arquivo:hover {
  cursor: pointer;
}

.ajuda-texto {
  background-color: #d9d9d9;
  width: 20vw;
  height: 78.5vh;
  position: fixed;
  top: 20vh;
  right: 3.5vw;
  border-radius: 25px;
  padding: 15px;
  color: #746666;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ajuda-texto-atencao {
  color: #e85c4f;
  display: contents;
}
