.main-home-responsavel {
    width: 100vw;
    height: 87.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-saida-antecipada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputs-solicitar-saida {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}