.botao {
  font-family: Codec Pro-Bold;
  font-size: 18.1px;
  color: #ffffff;
  width: 191.1px;
  height: 42.8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.verde {
  background-color: #42bf9c;
}

.amarelo {
  background-color: #e4ae4f;
}

.loading-botao{
  max-height: 30px;
  animation: rodar 1.5s linear infinite;
}

@keyframes rodar {
  0%{
    rotate: 0deg;
  }
  25%{
    rotate: 90deg;
  }
  50%{
    rotate: 180deg;
  }
  75%{
    rotate: 270deg;
  }
  100%{
    rotate: 360deg;
  }
}