.main-gerenciar-notificacoes {
  width: 100vw;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-notificacoes-responsavel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
