.section-registrar-chegada {
  width: 100vw;
  height: 100vh;
}

.main-registrar-chegada {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-registrar-chegada {
  font-family: Codec Pro-Light;
  font-size: 28.1px;
  color: #746666;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.icone-camera {
  max-height: 100%;
  position: absolute;
  left: 0px;
}

.legenda-botao-camera {
  position: absolute;
  left: 30%;
}

.container-botao-camera {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-registrar-chegada-atrasada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 25px;
}

.form-span-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.modal-camera {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  gap: 10px;
}
