.main-adicionar-professor{
    width: 100vw;
    height: 87.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-adicionar-professor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}