.tela-home-administrador {
  position: absolute;
  bottom: 0;
  height: 87.5vh;
  width: 100vw;
}

.titulo-chegadas-atrasadas {
  font-family: Codec Pro-Light;
  font-size: 30px;
  color: #746666;
  letter-spacing: 1px;
}

.imagem-adicionar {
  max-width: 80px;
}

.imagem-adicionar:hover {
  cursor: pointer;
}

.input-data {
  background-color: #746666;
  color: #ffffff;
  border-radius: 25px;
  font-size: 15px;
  border: 0;
  font-family: Codec Pro-Light;
  padding: 1px 5px;
}

.cabecalho-chegadas-atrasadas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 25px 5px 0;
  height: 12.5vh;
}

.input-adicionar-registro {
  color: #746666;
  font-size: 15px;
  font-family: Codec Pro-Light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conteudo-chegadas-atrasadas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  gap: 10px;
  color: #746666;
}

.botoes-registrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.botao-registrar {
  border: 0;
  background-color: #d9d9d9;
  color: #746666;
  font-family: Codec Pro-Light;
  font-size: 12.1px;
  width: 150px;
  height: 23px;
  border-radius: 25px;
}

.botao-registrar:hover {
  cursor: pointer;
}
