.main-tela-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.input-senha {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #746666;
  font-size: 15px;
}
