.main-ver-solicitacoes {
  width: 100vw;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.conteudo-saidas-antecipadas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  gap: 10px;
  color: #746666;
}

.input-data-solicitacoes {
  background-color: #746666;
  color: #ffffff;
  border-radius: 25px;
  font-size: 15px;
  border: 0;
  font-family: Codec Pro-Light;
  padding: 1px 5px;
  position: fixed;
  right: 30px;
  top: 120px;
}